<component name="libraryTable">
  <library name="spring-context-5.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.m2/repository/org/springframework/spring-context/5.2.3.RELEASE/spring-context-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>